{% extends 'base.html.twig' %}

{% block title %}Contact Us - Simon-Bak Gergely
{% endblock %}

{% block body %}
	<div class="contact-form-wrapper d-flex justify-content-center">
		<div class="contact-form">
			{% for label, messages in app.flashes(['error', 'success']) %}
				{% for message in messages %}
					{% if label == "success" %}
						<div class="alert alert-success">
						{% elseif label == "error" %}
							<div class="alert alert-danger">
							{% endif %}
							{{ message }}</div>
					{% endfor %}
				{% endfor %}
				<h5 class="title">Írj nekünk</h5>
				{{ include('contact_message/_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
